<!DOCTYPE html>
<html lang="en-US">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="title" content="ACENT - web 3.0 technology" />
    <meta name="description" content="ACENT utilizes Osiris Browser's web 3.0 technology to provide users with a seamless experience without requiring prior blockchain knowledge." />

    <meta name="keyword"
        content="acent tech, blockchain technology, osiris browser, web 3.0 technology, fast browser" />
    <meta name="robots" content="index, follow" />

    <meta property="og:title" content="ACENT - web 3.0 technology" ng-bind-html="strings['og:title'][locale] | to_trusted">

    <meta property="og:type" content="website">

    <meta property="og:url" content="https://acent.tech/">

    <meta property="og:image" content="https://acent.tech/assets/img/main.jpg">
    <meta property="og:description" content="Blockchain Technology designed for mass adoption"  ng-bind-html="strings['og:description'][locale] | to_trusted">

    <meta name="naver-site-verification" content="f5a902fed9b031f36e4498c7527256d5400774e0" />




    <!--  Title -->
    <title>ACENT - web 3.0 technology.</title>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-polyfills/0.1.43/polyfill.min.js"></script>

    <!-- Font Google -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500&display=swap" rel="stylesheet">

    <link rel="canonical shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />
    <link rel="canonical icon" href="assets/img/favicon.ico" type="image/x-icon" />

    <!-- custom styles (optional) -->
    <link href="assets/css/plugins.css" rel="canonical stylesheet" />
    <link href="assets/css/style.css" rel="canonical stylesheet" />
    <!-- <link href="assets/css/style.css?12282020" rel="canonical stylesheet" />  -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YMHQR0DST1"></script>

    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-YMHQR0DST1');
    </script>
</head>

<body data-dsn-mousemove="false" ng-app="acent" ng-controller="main" ng-cloak ng-init="fetch()" class="hamburger-menu dsn-effect-scroll dsn-ajax {{ strings['font'][locale] }}">

    <div id="acent-modal" class="acent-modal acent-modal--white mfp-hide">
        <div class="acent-modal__header">
    <h1>&lt;ACE 토큰 스왑 진행 안내&gt;

</h1>
</div>
    <div class="acent-modal__body">
        <figure class="acent-modal-logo">
            <img src="assets/img/acent-icon.png" width="130" height="130" alt="ACENT" />
        </figure>
        <p>보완이 강화된 ACE 신규 토큰 발행에 따른 스왑절차를 안내드립니다.<br />
<br />
ACE(ACENT)는 해외 TOP 컨트랙트 보안감사 기업인 <br />
SlowMist에서 스마트 컨트랙트 보안 감사를 완료하고<br />
ERC-20 기반 자체 토큰으로써 안정성을 검증받았습니다.<br />
<br />
이에 따라, 신규 토큰으로의 스왑을 안내드리오니<br />
아래 링크를 통해 내용 숙지하시어 진행에 차질이 <br />
없으시기 바랍니다.
</p>


<a href="http://bit.ly/36G55GQ" class="acent-modal-btn" target="_blank"><img src="assets/img/modal-btn.png" width="200" /></a>
<p>감사합니다.</p>
    </div>
  </div>

    <div class="preloader">
        <div class="preloader-after"></div>
        <div class="preloader-before"></div>
        <div class="preloader-block">
            <div class="title">ACENT</div>
            <div class="percent">0</div>
            <div class="loading">{{ strings['loading'][locale] }}...</div>
        </div>
        <div class="preloader-bar">
            <div class="preloader-progress"></div>
        </div>
    </div>

    <!-- Nav Bar -->
    <div class="dsn-nav-bar">
        <div class="site-header">
            <div class="extend-container">
                <div class="inner-header">
                    <div class="logo main-logo">
                        <ul>
                            <li>
                                <a href="" class="float-left">
                                            <img class="dark-logo" src="assets/img/logo-dark.png" alt="acent tech logo">
                                            <img class="light-logo" src="assets/img/logo.png" alt="acent tech logo">
                                </a>
                            </li>
                            <li><a href="https://bit.ly/ACE_Medium" class="float-left" target="_blank"><button class="btn-tabs">MEDIA</button></a></li>
                            <li id="dev-tab1x"><button class="btn-tabs">DEVELOPERS</button>
                                <div id="dpcontent1x" class="drop-down-content">
                                    <ul>
                                        <li><a href="https://acent.tech/assets/pdf/acent-whitepaper-english.pdf" target="_blank">V1 Whitepaper</a></li>
                                        <li><a href="https://github.com/triggah61/metawallet-doc" target="_blank">Github</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="header-top header-top-hamburger">
            <div class="header-container">
                <div class="logo main-logo">
                    <ul>
                        <li>
                            <a href="" class="float-left">
                                        <img class="dark-logo" src="assets/img/logo-dark.png" alt="acent tech logo">
                                        <img class="light-logo" src="assets/img/logo.png" alt="acent tech logo">
                            </a>
                        </li>
                        <li><a href="https://bit.ly/ACE_Medium" class="float-left" target="_blank"><button class="btn-tabs">MEDIA</button></a></li>
                        <li id="dev-tab1"><button class="btn-tabs">DEVELOPERS</button>
                            <div id="dpcontent1" class="drop-down-content" style="display: none;">
                                <ul>
                                    <li>
                                        <a href="assets/pdf/acent-whitepaper-{{ locale }}.pdf" target="_blank">
                                          <span ng-bind-html="strings['main_button'][locale] | to_trusted">White Paper</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://github.com/triggah61/metawallet-doc" target="_blank">
                                          <span>Github</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="menu-icon" data-dsn="parallax" data-dsn-move="5">
                    <div class="icon-m">
                        <i class="menu-icon-close fas fa-times"></i>
                        <span class="menu-icon__line menu-icon__line-left"></span>
                        <span class="menu-icon__line"></span>
                        <span class="menu-icon__line menu-icon__line-right"></span>
                    </div>
                    <!-- <div class="text-menu">
                        <div class="text-button">Language</div>
                        <div class="text-open">English</div>
                        <div class="text-open">English</div>
                        <div class="text-close">Close</div>
                    </div> -->
                    <label class="dropdown custom-dropdown">
                        <div class="dd-button">
                          {{ strings['language'][locale] }}
                        </div>
                        <!-- <input type="checkbox" class="dd-input" id="test">  -->
                        <ul class="dd-menu">
                          <li ng-click="changeLanguage('english')" ng-if="locale != 'english'">English</li>
                          <li ng-click="changeLanguage('korean')" ng-if="locale != 'korean'">Korean</li>
                          <li ng-click="changeLanguage('chinese')" ng-if="locale != 'chinese'">Chinese</li>
                          <li ng-click="changeLanguage('vietnamese')" ng-if="locale != 'vietnamese'">Vietnamese</li>
                          <li ng-click="changeLanguage('japanese')" ng-if="locale != 'japanese'">Japanese</li>
                          <li ng-click="changeLanguage('thai')" ng-if="locale != 'thai'">Thai</li>
                        </ul>
                      </label>
                </div>
                <div class="nav">
                    <div class="inner">
                        <div class="nav__content">

                        </div>
                    </div>
                </div>
                <div class="nav-content">
                    <div class="inner-content">
                        <address class="v-middle">
                        </address>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Nav Bar -->

    <main class="main-root">
        <div id="dsn-scrollbar">
            <div class="dsn-slider" data-dsn-header="project">
                <div class="dsn-root-slider" id="dsn-hero-parallax-img">
                    <div class="slide-inner">
                        <div class="swiper-wrapper">
                            <div class="slide-item swiper-slide">
                                <div class="slide-content">
                                    <div class="slide-content-inner">
                                        <div class="project-metas">
                                            <div class="project-meta-box project-work cat">
                                                <span ng-bind-html="strings['title'][locale] | to_trusted">Acent</span>
                                            </div>
                                        </div>

                                        <div class="title-text-header">
                                            <div class="title-text-header-inner font-bold" ng-bind-html="strings['main_title'][locale] | to_trusted">
                                                    독보적인 블록체인 기반<br />Web 3.0 브라우저
                                            </div>
                                        </div>

                                        <p ng-bind-html="strings['main_sub'][locale] | to_trusted">ACENT utilizes Osiris Browser's web 3.0 technology to provide users with a new web experience without needing to understand difficult technologies for blockchain.</p>

                                        <div class="link-custom">
                                            <a href="assets/pdf/acent-whitepaper-{{ locale }}.pdf" target="_blank" class="image-zoom " data-dsn-ajax="slider" style="transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);">
                                                <span ng-bind-html="strings['main_button'][locale] | to_trusted">White Paper</span>
                                            <div class="icon-circle" style="transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);"></div></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="image-container">
                                    <div class="image-bg cover-bg" data-image-src="assets/img/main.jpg" data-overlay="0">
                                        <img src="assets/img/project/project9/1.jpg" alt="acent technology">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="dsn-slider-content"></div>
                <div class="control-nav">
                    <div class="prev-container" data-dsn="parallax">
                        <svg viewBox="0 0 40 40">
                            <path class="path circle" d="M20,2A18,18,0,1,1,2,20,18,18,0,0,1,20,2"></path>
                            <polyline class="path" points="14.6 17.45 20 22.85 25.4 17.45"></polyline>
                        </svg>
                    </div>

                    <div class="next-container" data-dsn="parallax">
                        <svg viewBox="0 0 40 40">
                            <path class="path circle" d="M20,2A18,18,0,1,1,2,20,18,18,0,0,1,20,2"></path>
                            <polyline class="path" points="14.6 17.45 20 22.85 25.4 17.45"></polyline>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <section class="intro-about section-margin">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="intro-content-text">
                                    <h2 data-dsn-grid="move-section" data-dsn-move="-30" data-dsn-duration="100%"
                                        data-dsn-opacity="1.2" data-dsn-responsive="tablet" class="col-12 float-left no-padding">
                                        <!-- Osiris Browser -->
                                        <img src="assets/img/osiris_browser_{{ locale }}.png" class="col-img">
                                    </h2>

                                    <p data-dsn-animate="text" ng-bind-html="strings['osiris_main'][locale] | to_trusted">ACENT는 대한민국에서 최초로 개발된 웹 3.0 브라우저 기반의 서비스를 제공합니다. 웹 브라우저와 블록체인이 함께 시너지를 발생시켜 더 좋은 인터넷을 사용할 수 있습니다.</p>
                                    <p data-dsn-animate="text" ng-bind-html="strings['osiris_sub'][locale] | to_trusted">ACENT의 웹 3.0 브라우저 ‘Osiris Browser’의 우수한 기능 덕분에 다양한 국가의 사용자들이 Osiris로 브라우저를 전환하고 있습니다.</p>

                                    <div class="link-custom">
                                            <a href="https://browseosiris.com/"  target="_blank">
                                                <span ng-bind-html="strings['osiris_button'][locale] | to_trusted">Download</span>
                                            </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="background-mask">
                        <div class="background-mask-bg"></div>
                        <div class="img-box">
                            <div class="img-cent" data-dsn-grid="move-up">
                                <div class="img-container">
                                    <img data-dsn-y="30%" src="assets/img/bgg.jpg" alt="acent technology background">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="our-services section-margin">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="intro-content-text">
                                    <h2 data-dsn-grid="move-section" data-dsn-move="-30" data-dsn-duration="100%"
                                        data-dsn-opacity="1.2" data-dsn-responsive="tablet">
                                        <!-- Osiris Browser -->
                                        <img src="assets/img/osiris_features_{{ locale }}.png" class="col-img">
                                    </h2>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="services-item">
                                            <div class="line-before"></div>
                                            <h4 class="subtitle" ng-bind-html="strings['features_adblock_title'][locale] | to_trusted">Ad-Block</h4>
                                            <p ng-bind-html="strings['features_adblock'][locale] | to_trusted">사용자를 방해하는 불필요한 광고를 차단하여 쾌적한 인터넷 환경을 제공합니다.</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="services-item">
                                            <div class="line-before"></div>
                                            <h4 class="subtitle" ng-bind-html="strings['features_privacy_title'][locale] | to_trusted">Privacy</h4>
                                            <p ng-bind-html="strings['features_privacy'][locale] | to_trusted">사용자의 사용 기록 보호 및 무료 VPN, 악성 프로그램 방지를 통해 개인정보를 보호합니다.</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="services-item">
                                            <div class="line-before"></div>
                                            <h4 class="subtitle" ng-bind-html="strings['features_fast_title'][locale] | to_trusted">Fast Browser</h4>
                                            <p ng-bind-html="strings['features_fast'][locale] | to_trusted">광고 차단과 스크립트 수집을 최소화하여 세상에서 가장 빠른 브라우저 속도를 자랑합니다.</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="services-item">
                                            <div class="line-before"></div>
                                            <h4 class="subtitle" ng-bind-html="strings['features_search_title'][locale] | to_trusted">Liberty Search Engine</h4>
                                            <p ng-bind-html="strings['features_search'][locale] | to_trusted">ACENT의 자체 검색엔진 리버티 엔진을 통해 통제 받지 않은 정보를 조회할 수 있습니다. (Coming soon.)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!--<div class="box-seat box-seat-full section-margin">
                    <div class="container-fluid">
                        <div class="inner-img" data-dsn-grid="move-up">
                            <img data-dsn-scale="1" data-dsn-y="30%" src="assets/img/project/project2/3.jpg" alt="">
                        </div>
                        <div class="pro-text">
                            <h3> How is your<br> visual identity?</h3>
                            <p>A system that young people around the world with a club culture and techno
                                enthusiasts feel identified. We generated a simple logo that is the basis for
                                generating a geometric and liquid system. </p>
                            <div class="link-custom">
                                <a class="image-zoom effect-ajax" href="project-2.html" data-dsn="parallax">
                                    <span>Learn More</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>-->

                <section class="our-work work-under-header  section-margin" data-dsn-col="3">
                    <div class="container">
                        <div class="one-title">
                            <div class="title-sub-container">
                                <p class="title-sub">ACENT</p>
                            </div>
                            <h2 class="title-main" ng-bind-html="strings['updates'][locale] | to_trusted">To be updated</h2>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-9 offset-lg-3">
                                <div class="work-container">
                                    <div class="slick-slider">

                                        <div class="work-item slick-slide">
                                            <img class="has-top-bottom" src="assets/img/update/01.jpg" alt="acent multiwallet">
                                            <div class="item-border"></div>
                                            <div class="item-info">
                                                <a data-dsn-grid="move-up" class="effect-ajax">
                                                    <h4 ng-bind-html="strings['updates_multiwallet'][locale] | to_trusted">Osiris Multi-Wallet</h4>
                                                    <span><span ng-bind-html="strings['updates_multiwallet_text'][locale] | to_trusted">대부분의 지갑은 단일 암호화폐만 사용할 수 있습니다. 하지만 오시리스 멀티지갑은 ACENT, Bitcoin, Ethereum, Tron 등 수많은 암호화폐를 하나의 지갑에서 관리하고 사용할 수 있습니다.</span></span>
                                                </a>

                                            </div>
                                        </div>

                                        <div class="work-item slick-slide">
                                            <img class="has-top-bottom" src="assets/img/update/02.jpg" alt="acent dApp optimization">
                                            <div class="item-border"></div>
                                            <div class="item-info">
                                                <a data-dsn-grid="move-up" class="effect-ajax">
                                                    <h4 ng-bind-html="strings['updates_dapp'][locale] | to_trusted">dApp Optimization</h4>
                                                    <span><span ng-bind-html="strings['updates_dapp_text'][locale] | to_trusted">블록체인 댑 개발사는 블록체인에 최적화된 브라우저에서 댑 서비스를 제공할 수 있습니다. 이것은 지금까지 볼 수 없었던 사용자 환경을 제공합니다.</span></span>
                                                </a>

                                            </div>
                                        </div>

                                        <div class="work-item slick-slide">
                                            <img class="has-top-bottom" src="assets/img/update/03.jpg" alt="acent auto reward">
                                            <div class="item-border"></div>
                                            <div class="item-info">
                                                <a data-dsn-grid="move-up" class="effect-ajax">
                                                    <h4 ng-bind-html="strings['updates_autoreward'][locale] | to_trusted">Auto Reward</h4>
                                                    <span><span ng-bind-html="strings['updates_autoreward_text'][locale] | to_trusted">사용자는 Hot-Wallet 이용동의만 한다면 보유하고 있는 암호화폐에 대해서 추가적인 리워드를 획득할 수 있습니다.</span></span>
                                                </a>

                                            </div>
                                        </div>

                                        <div class="work-item slick-slide">
                                            <img class="has-top-bottom" src="assets/img/update/04.jpg" alt="acent liberty ads">
                                            <div class="item-border"></div>
                                            <div class="item-info">
                                                <a hdata-dsn-grid="move-up" class="effect-ajax">
                                                    <h4 ng-bind-html="strings['updates_liberty'][locale] | to_trusted">Liberty Ads</h4>
                                                    <span><span ng-bind-html="strings['updates_liberty_text'][locale] | to_trusted">ACENT의 광고 플랫폼 리버티 애즈를 통해 사용자는 보상을 받고 유료 콘텐츠를 사용할 수 있습니다.</span></span>
                                                </a>

                                            </div>
                                        </div>

                                        <div class="work-item slick-slide">
                                            <img class="has-top-bottom" src="assets/img/update/05.jpg" alt="acent Osiris Crypto Engine Acent Information">
                                            <div class="item-border"></div>
                                            <div class="item-info">
                                                <a hdata-dsn-grid="move-up" class="effect-ajax">
                                                    <h4 ng-bind-html="strings['updates_ocean'][locale] | to_trusted">OCEAN(Osiris Crypto Engine ACENT Information)</h4>
                                                    <span><span ng-bind-html="strings['updates_ocean_text'][locale] | to_trusted">ACENT의 OCEAN은 암호화폐 교환 프로토콜로 사용자는 중앙화 거래소에 방문하지 않고 손 쉽게 암호화폐를 교환할 수 있습니다. 이것은 거래소가 아닙니다!</span></span>
                                                </a>

                                            </div>
                                        </div>



                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div class=" box-gallery-vertical section-margin section-padding" data-dsn="color">
                    <div class="mask-bg"></div>
                    <div class="container">
                        <div class="row align-items-center h-100">
                            <div class="col-lg-6 ">
                                <div class="box-im" data-dsn-grid="move-up">
                                    <img class="has-top-bottom" src="assets/img/eco.jpg" alt="acent ecosystem"
                                        data-dsn-move="20%">
                                </div>
                            </div>

                            <div class="col-lg-6">


                                <div class="box-info">

                                    <div class="vertical-title" data-dsn-animate="up">
                                        <h2><span ng-bind-html="strings['ecosystem'][locale] | to_trusted">ECOSYSTEM</span></h2>
                                    </div>

                                    <h6 data-dsn-animate="up" ng-bind-html="strings['ecosystem_sub'][locale] | to_trusted">.</h6>

                                    <p data-dsn-animate="up" ng-bind-html="strings['ecosystem_sub_a'][locale] | to_trusted">-</p>
                                    <p data-dsn-animate="up" ng-bind-html="strings['ecosystem_sub_b'][locale] | to_trusted">-</p>
                                    <p data-dsn-animate="up" ng-bind-html="strings['ecosystem_sub_c'][locale] | to_trusted">-</p>
                                    <p data-dsn-animate="up" ng-bind-html="strings['ecosystem_sub_d'][locale] | to_trusted">-</p>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>



                <section class="our-news hidden section-margin">
                    <div class="container">
                        <div class="one-title" data-dsn-animate="up">
                            <h2 class="title-main">NEWS</h2>
                        </div>
                        <div class="custom-container">
                            <div class="slick-slider">
                                <div class="item-new slick-slide">
                                    <div class="image" data-overlay="5">
                                        <img src="assets/img/blog/1.jpg" alt="acent news">
                                    </div>
                                    <div class="content">
                                        <div class="background"></div>
                                        <h5>Web , Brand</h5>

                                        <div class="cta">
                                            <a>Digital Photography Tips</a>
                                        </div>

                                        <p>Simple point-and-shoot digital cameras can give surprising quality when they
                                            have the right lenses and sensors.</p>

                                    </div>
                                </div>

                                <div class="item-new slick-slide">
                                    <div class="image" data-overlay="5">
                                        <img src="assets/img/blog/2.jpg" alt="acent brand">
                                    </div>
                                    <div class="content">
                                        <div class="background"></div>
                                        <h5>Web , Brand</h5>

                                        <div class="cta">
                                            <a >Digital Photography Tips</a>
                                        </div>

                                        <p>Simple point-and-shoot digital cameras can give surprising quality when they
                                            have the right lenses and sensors.</p>
                                    </div>
                                </div>

                                <div class="item-new slick-slide">
                                    <div class="image" data-overlay="5">
                                        <img src="assets/img/blog/3.jpg" alt="">
                                    </div>
                                    <div class="content">
                                        <div class="background"></div>
                                        <h5>Web , Brand</h5>

                                        <div class="cta">
                                            <a >Digital Photography Tips</a>
                                        </div>

                                        <p>Simple point-and-shoot digital cameras can give surprising quality when they
                                            have the right lenses and sensors.</p>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>

                <section class="team-members section-margin">
                    <div class="container">
                        <div class="one-title" data-dsn-animate="up">
                            <h2 class="title-main" ng-bind-html="strings['members'][locale] | to_trusted">TEAM MEMBERS</h2>
                        </div>

                        <div class="wapper-client">
                            <div class="members-box">
                                <div class="members-photo">
                                    <img src="assets/img/members/sean-kim.png" alt="">
                                </div>

                                <div class="info">
                                    <div class="content">
                                        <h4 class="members-name">Sean Kim (Founder/CEO)</h4>

                                        <div class="members-credentials">
                                            <ul>
                                                <li ng-bind-html="strings['sean_creds_1'][locale] | to_trusted">8 years of experience in IT sector</li>
                                                <li ng-bind-html="strings['sean_creds_2'][locale] | to_trusted">Founder of Osiris WEB 3.0 browser</li>
                                                <li ng-bind-html="strings['sean_creds_3'][locale] | to_trusted">Developed mining software for cyber café, created cloud mining management app, and holds related patents</li>
                                                <li ng-bind-html="strings['sean_creds_4'][locale] | to_trusted">Operates multiple news/media networks</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="members-box">
                                <div class="members-photo">
                                    <img src="assets/img/members/angela-kim.png" alt="">
                                </div>

                                <div class="info">
                                    <div class="content">
                                        <h4 class="members-name">Angella Kim (Co-Founder/Vice CEO)</h4>

                                        <div class="members-credentials">
                                            <ul>
                                                <li ng-bind-html="strings['angella_creds_1'][locale] | to_trusted">4 years of experience in blockchain related business</li>
                                                <li ng-bind-html="strings['angella_creds_2'][locale] | to_trusted">Promoted and accelerated blockchain related international projects with globally recognized companies (participating in numerous blockchain related projects such as exchanges,games, IP, mining as partners)</li>
                                                <li ng-bind-html="strings['angella_creds_3'][locale] | to_trusted">Published and aired as an Asian female leader in the blockchain industry by numerous foreign media outlets such as Global Magazine (First Korean woman on the cover of The Face), Vietnamese national broadcasting and TV news, and Chinese news. Single Korean female representative invited to 2019 Forbes Vietnam Business Forum amongst the top 50 Vietnamese companies invited.</li>
                                                <li ng-bind-html="strings['angella_creds_4'][locale] | to_trusted">Advisor of Korea Blockchain Contents Association (KBCCA)</li>
                                                <li ng-bind-html="strings['angella_creds_5'][locale] | to_trusted">Advisor of Korea Mobile Game Association (KMGA)</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="members-box">
                                <div class="members-photo">
                                    <img src="assets/img/members/shin-daisuke.png" alt="">
                                </div>

                                <div class="info">
                                    <div class="content">
                                        <h4 class="members-name">Shin Daisuke (CTO)</h4>

                                        <div class="members-credentials">
                                            <ul>
                                                <li ng-bind-html="strings['shin_creds_1'][locale] | to_trusted">More than 16 years of product development experience, including in areas of telecommunication as his main concentration.</li>
                                                <li ng-bind-html="strings['shin_creds_2'][locale] | to_trusted">Participated and supervised 180 development projects including AT&T, Motorola, Intel, Coca-Cola and more.</li>
                                                <li ng-bind-html="strings['shin_creds_3'][locale] | to_trusted">Holds data center (TOGAF) digital architecture certification, blockchain developer certification,TELCO technical advisor certification, etc.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="brand-client section-margin">
                    <div class="container">
                        <div class="one-title" data-dsn-animate="up">
                            <h2 class="title-main" ng-bind-html="strings['partners'][locale] | to_trusted">Partners</h2>
                        </div>

                        <div class="wapper-client">

                            <div class="logo-box">
                                <img src="assets/img/logo/10.png" alt="">

                                <div class="info">
                                    <div class="content">
                                        <div class="icon">
                                            <i class="fas fa-plus"></i>
                                        </div>

                                        <div class="entry">
                                            <div>
                                                <h5>Dappstore</h5>
                                                <a target="_blank" href="https://play.dappstore.me">play.dappstore.me</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="logo-box">
                                <img src="assets/img/logo/kucoin.png" alt="">

                                <div class="info">
                                    <div class="content">
                                        <div class="icon">
                                            <i class="fas fa-plus"></i>
                                        </div>

                                        <div class="entry">
                                            <div>
                                                <h5>KuCoin</h5>
                                                <a target="_blank" href="https://kucoin.com">kucoin.com</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                                                        <div class="logo-box">
                                <img src="assets/img/logo/1.png" alt="">

                                <div class="info">
                                    <div class="content">
                                        <div class="icon">
                                            <i class="fas fa-plus"></i>
                                        </div>

                                        <div class="entry">
                                            <div>
                                                <h5>Maker Dao</h5>
                                                <a target="_blank" href="https://makerdao.com">makerdao.com</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="logo-box">

                                <img src="assets/img/logo/12.png" alt="">


                                <div class="info">
                                    <div class="content">
                                        <div class="icon">
                                            <i class="fas fa-plus"></i>
                                        </div>

                                        <div class="entry">
                                            <div>
                                                <h5>SLOWMIST</h5>

                                                <a target="_blank" href="https://www.slowmist.com/">www.slowmist.com</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="logo-box">
                                <img src="assets/img/logo/11.png" alt="">

                                <div class="info">
                                    <div class="content">
                                        <div class="icon">
                                            <i class="fas fa-plus"></i>
                                        </div>

                                        <div class="entry">
                                            <div>
                                                <h5>Haechi Audit</h5>
                                                <a target="_blank" href="https://audit.haechi.io/">audit.haechi.io</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <div class="logo-box">
                                <img src="assets/img/logo/4.png" alt="">

                                <div class="info">
                                    <div class="content">
                                        <div class="icon">
                                            <i class="fas fa-plus"></i>
                                        </div>

                                        <div class="entry">
                                            <div>
                                                <h5>Hiblocks</h5>
                                                <a target="_blank" href="https://www.hiblocks.io">hiblocks.io</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="logo-box">
                                <img src="assets/img/logo/7.png" alt="">

                                <div class="info">
                                    <div class="content">
                                        <div class="icon">
                                            <i class="fas fa-plus"></i>
                                        </div>

                                        <div class="entry">
                                            <div>
                                                <h5>Quiztok</h5>
                                                <a target="_blank" href="https://board-kr.quiztok.com">board-kr.quiztok.com</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="logo-box">
                                <img src="assets/img/logo/9.png" alt="">

                                <div class="info">
                                    <div class="content">
                                        <div class="icon">
                                            <i class="fas fa-plus"></i>
                                        </div>

                                        <div class="entry">
                                            <div>
                                                <h5>Xangle</h5>
                                                <a target="_blank" href="https://xangle.io">xangle.io</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="logo-box">
                                <img src="assets/img/logo/5.png" alt="">

                                <div class="info">
                                    <div class="content">
                                        <div class="icon">
                                            <i class="fas fa-plus"></i>
                                        </div>

                                        <div class="entry">
                                            <div>
                                                <h5>CHAINFLIX</h5>
                                                <a target="_blank" href="https://www.chainflix.biz">chainflix.biz</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="logo-box">
                                <img src="assets/img/logo/3.png" alt="">

                                <div class="info">
                                    <div class="content">
                                        <div class="icon">
                                            <i class="fas fa-plus"></i>
                                        </div>

                                        <div class="entry">
                                            <div>
                                                <h5>Talken</h5>
                                                <a target="_blank" href="https://talken.io">talken.io</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <div class="logo-box">
                                <img src="assets/img/logo/2.png" alt="">

                                <div class="info">
                                    <div class="content">
                                        <div class="icon">
                                            <i class="fas fa-plus"></i>
                                        </div>

                                        <div class="entry">
                                            <div>
                                                <h5>ZIKTALK</h5>
                                                <a target="_blank" href="https://ziktalk.com">ziktalk.com</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>






                        </div>
                    </div>
                </section>
            </div>

            <footer class="footer">
                <div class="container">
                    <div class="footer-links p-relative">
                        <div class="row">
                            <div class="col-md-6 col-lg-3 dsn-col-footer">
                                <div class="footer-block">
                                    <div class="footer-logo">
                                        <img src="assets/img/logo.png" alt="">
                                    </div>

                                    <div class="footer-social">

                                        <ul>
                                            <li><a href="https://t.me/AcentChannel" target="_blank">
                                                <img src="assets/img/icons/telegram.png" width="15" alt=""><span style="  width: 5px;height: 7px;margin: 6px 0 0 3px;font-family: NotoSansCJKkr;font-size: 9px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 3.33;letter-spacing: normal;text-align: left;color: #ffffff;">1</span></a></li>
                                            <li><a href="https://t.me/AcentOfficialChat" target="_blank"><img src="assets/img/icons/telegram.png" width="15" alt=""><span style="  width: 5px;height: 7px;margin: 6px 0 0 3px;font-family: NotoSansCJKkr;font-size: 9px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 3.33;letter-spacing: normal;text-align: left;color: #ffffff;">2</span></a></li>
                                            <li><a href="https://bit.ly/ACE_Medium" target="_blank"><img src="assets/img/icons/medium.png" width="20" alt=""></a></li>
                                            <li><a href="https://bit.ly/2UCSX3b" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="https://bit.ly/3pIwsI7" target="_blank"><i class="fab fa-instagram"></i></a></li>

                                        </ul>

                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6 col-lg-3 dsn-col-footer">
                                <div class="footer-block col-contact">
                                    <h4 class="footer-title" ng-bind-html="strings['contact'][locale] | to_trusted">CONTACT</h4>
                                    <p class="over-hidden"><strong>E</strong> <span>:</span><a class="link-hover"
                                            data-hover-text="info@acent.tech" >info@acent.tech</a>
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-12 mt-md-20 col-lg-6 dsn-col-footer">
                                <div class="col-address">
                                    <h4 class="footer-title" ng-bind-html="strings['address'][locale] | to_trusted">ADDRESS</h4>
                                    <p>
                                        SUITE 2303, 23/F., <br>
                                        WORLD-WIDE HOUSE, <br>
                                        19 DESVOUX ROAD CENTRAL, <br>
                                        HONG KONG
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="copyright">
                        <div class="text-center">
                            <p>© 2021 Decenternet. All Rights Reserved | <a href="privacy.html">Privacy Policy</a> | <a href="terms.html">Terms of Use</a></p>

                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </main>

    <!-- Wait Loader -->
    <div class="wait-loader">
        <div class="loader-inner">
            <div class="loader-circle">
                <div class="loader-layer"></div>
            </div>
        </div>
    </div>
    <!-- // Wait Loader -->


    <!-- cursor -->
    <!-- <div class="cursor">

        <div class="cursor-helper cursor-view">
            <span>VIEW</span>
        </div>

        <div class="cursor-helper cursor-close">
            <span>Close</span>
        </div>

        <div class="cursor-helper cursor-link"></div>
    </div> -->
    <!-- End cursor -->

    <!-- Optional JavaScript -->
    <script src="assets/js/jquery-3.1.1.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/dsn-grid.js?latest"></script>
    <script src="assets/js/custom.js?latest"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script>

        var app = angular.module('acent',[])
            .filter('to_trusted', ['$sce', function($sce){
                return function(text) {
                    return $sce.trustAsHtml(text);
                };
            }]);
        app.controller('main',function($scope,$http,$interval){
            // if(localStorage.getItem('locale')){
                // $scope.locale = localStorage.getItem('locale');
            // } else {
                $scope.locale = 'english';
            // }

            $scope.strings = {};

            $scope.fetch = function(){
                $http.get('translations.json').then(function (response) {
                    $scope.strings = response.data;
                });
            };

            var url_string = window.location.href;
            var url = new URL(url_string);
            var c = url.searchParams.get("lang");
            if(c == null) {
                $scope.locale = 'english';
            }  else {
                $scope.locale = c;
            }

            $scope.changeLanguage = function (lang) {
                localStorage.setItem('locale',lang);
                window.location.href = '?lang='+lang;

                //$scope.locale = lang;
            }
        });

        $('.menu-icon .dd-menu').hide();

        $('.menu-icon').click(function(){
            $('.menu-icon .dd-menu').show();
        });
        $('.menu-icon').mouseleave(function(){
            $('.menu-icon .dd-menu').hide();
        });
        $('body').on('scroll',function(){
            $('.menu-icon .dd-menu').hide();
        });
        $('body').on({
            'touchmove': function(e) {
                $('.menu-icon').click();
                $('.menu-icon .dd-menu').hide();
            }
        })

        /*
        $('.menu-icon').off('click').click(function(){
          if($('.menu-icon .dd-menu').hasClass('active')){
            $('.menu-icon .dd-menu').hide();
            $('.menu-icon .dd-menu').removeClass('active');
          }else {
            $('.menu-icon .dd-menu').show();
            $('.menu-icon .dd-menu').addClass('active');
          }
        });
*/
    </script>

    <script>
        function developerButton(){

            let winWidth = window.screen.width;

            var clickEvent = function(){
                if('ontouchstart' in document.documentElement === true) return 'touchstart'; else return 'click'
            }();

            if( winWidth < 1024 || clickEvent === 'touchstart'){

                let btnfunc2 = document.getElementById('dev-tab1');
                let hideDisplay2 = document.getElementById('dpcontent1');

                btnfunc2.addEventListener('click', () => {
                console.log('click');
                if (hideDisplay2.style.display == 'none') {
                    hideDisplay2.style.display = 'block';
                    hideDisplay2.style.transition = 'block 2s';
                    hideDisplay2.style.visibility = 'visible';
                    hideDisplay2.style.opacity = '0.8';
                    $('.menu-icon .dd-menu').hide();
                    $('.menu-icon .dd-menu').removeClass('active');
                }else {
                    hideDisplay2.style.display = 'none';
                    console.log('click, hide');
                }
                });
                var ignoreClickOnMeElement = document.getElementById('dev-tab1');

                document.addEventListener('click', function(event) {
                    let isClickInsideElement = ignoreClickOnMeElement.contains(event.target);
                    if (!isClickInsideElement) {
                        let hideDisplay2 = document.getElementById('dpcontent1');
                        hideDisplay2.style.display = 'none';
                    }
                });
            }

        }

        developerButton();

        window.addEventListener('resize', function(event) {
        developerButton();
        }, true);



    </script>

</body>

</html>
