<!DOCTYPE html>
<html lang="en-US">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="title" content="ACENT - web 3.0 technology" />
    <meta name="description" content="ACENT utilizes Osiris Browser's web 3.0 technology to provide users with a seamless experience without requiring prior blockchain knowledge." />

    <meta name="keyword"
        content="acent tech, blockchain technology, osiris browser, web 3.0 technology, fast browser" />
    <meta name="robots" content="index, follow" />

    <meta property="og:title" content="ACENT - web 3.0 technology" ng-bind-html="strings['og:title'][locale] | to_trusted">

    <meta property="og:type" content="website">

    <meta property="og:url" content="https://acent.tech/">

    <meta property="og:image" content="https://acent.tech/assets/img/main.jpg">
    <meta property="og:description" content="Blockchain Technology designed for mass adoption"  ng-bind-html="strings['og:description'][locale] | to_trusted">

    <meta name="naver-site-verification" content="f5a902fed9b031f36e4498c7527256d5400774e0" />




    <!--  Title --> 
    <title>ACENT - Privacy Policy</title> 

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-polyfills/0.1.43/polyfill.min.js"></script>

    <!-- Font Google -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap" rel="stylesheet">

    <link rel="canonical shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />
    <link rel="canonical icon" href="assets/img/favicon.ico" type="image/x-icon" />

    <!-- custom styles (optional) -->
    <link href="assets/css/plugins.css" rel="canonical stylesheet" />
    <link href="assets/css/style.css?12345202012222" rel="canonical stylesheet" /> 
    <!-- <link href="assets/css/style.css?12282020" rel="canonical stylesheet" />  -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YMHQR0DST1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-YMHQR0DST1');
    </script>
</head>

<body data-dsn-mousemove="false" ng-app="acent" ng-controller="main" ng-cloak ng-init="fetch()" class="hamburger-menu dsn-effect-scroll dsn-ajax {{ strings['font'][locale] }}">

    <div id="acent-modal" class="acent-modal acent-modal--white mfp-hide">
        <div class="acent-modal__header">
    <h1>&lt;ACE 토큰 스왑 진행 안내&gt;

</h1>
</div>
    <div class="acent-modal__body">
        <figure class="acent-modal-logo">
            <img src="assets/img/acent-icon.png" width="130" height="130" alt="ACENT" />
        </figure>
        <p>보완이 강화된 ACE 신규 토큰 발행에 따른 스왑절차를 안내드립니다.<br />
<br />
ACE(ACENT)는 해외 TOP 컨트랙트 보안감사 기업인 <br />
SlowMist에서 스마트 컨트랙트 보안 감사를 완료하고<br />
ERC-20 기반 자체 토큰으로써 안정성을 검증받았습니다.<br />
<br />
이에 따라, 신규 토큰으로의 스왑을 안내드리오니<br />
아래 링크를 통해 내용 숙지하시어 진행에 차질이 <br />
없으시기 바랍니다.
</p>


<a href="http://bit.ly/36G55GQ" class="acent-modal-btn" target="_blank"><img src="assets/img/modal-btn.png" width="200" /></a>
<p>감사합니다.</p>
    </div>
  </div>

    <div class="preloader">
        <div class="preloader-after"></div>
        <div class="preloader-before"></div>
        <div class="preloader-block">
            <div class="title">ACENT</div>
            <div class="percent">0</div>
            <div class="loading">{{ strings['loading'][locale] }}...</div>
        </div>
        <div class="preloader-bar">
            <div class="preloader-progress"></div>
        </div>
    </div>

    <!-- Nav Bar -->
    <div class="dsn-nav-bar">
        <div class="site-header">
            <div class="extend-container">
                <div class="inner-header">
                    <div class="main-logo">
                        <a href="index.html" class="float-left">
                            <img class="dark-logo" src="assets/img/logo-dark.png" alt="acent tech media" />
                            <img class="light-logo" src="assets/img/logo.png" alt="acent tech media" />
                        </a>
                        <a href="https://bit.ly/ACE_Medium" class="float-left" target="_blank">
                            <img class="media" target="_blank" src="assets/img/media.png" alt="acent tech media" />
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="header-top header-top-hamburger">
            <div class="header-container">
                <div class="logo main-logo">
                    <a href="index.html" class="float-left">
                        <img class="dark-logo" src="assets/img/logo-dark.png" alt="acent tech logo" />
                        <img class="light-logo" src="assets/img/logo.png" alt="acent tech logo" />
                    </a>
                    <a href="https://bit.ly/ACE_Medium" class="float-left" target="_blank"> 
                        <img class="media" target="_blank" src="assets/img/media.png" alt="acent tech logo" />
                    </a>
                </div> 
                <div class="menu-icon" data-dsn="parallax" data-dsn-move="5">
                    <div class="icon-m">
                        <i class="menu-icon-close fas fa-times"></i>
                        <span class="menu-icon__line menu-icon__line-left"></span>
                        <span class="menu-icon__line"></span>
                        <span class="menu-icon__line menu-icon__line-right"></span>
                    </div>
                    <!-- <div class="text-menu">
                        <div class="text-button">Language</div>
                        <div class="text-open">English</div>
                        <div class="text-open">English</div>
                        <div class="text-close">Close</div>
                    </div> -->
                    <label class="dropdown custom-dropdown"> 
                        <div class="dd-button">
                          {{ strings['language'][locale] }}  
                        </div> 
                        <!-- <input type="checkbox" class="dd-input" id="test">  -->
                        <ul class="dd-menu">
                          <li ng-click="changeLanguage('english')" ng-if="locale != 'english'">English</li>
                          <li ng-click="changeLanguage('korean')" ng-if="locale != 'korean'">Korean</li>  
                          <li ng-click="changeLanguage('chinese')" ng-if="locale != 'chinese'">Chinese</li>
                          <li ng-click="changeLanguage('vietnamese')" ng-if="locale != 'vietnamese'">Vietnamese</li>  
                          <li ng-click="changeLanguage('japanese')" ng-if="locale != 'japanese'">Japanese</li>
                          <li ng-click="changeLanguage('thai')" ng-if="locale != 'thai'">Thai</li>
                        </ul> 
                      </label>
                </div> 
                <div class="nav">
                    <div class="inner">
                        <div class="nav__content">

                        </div>
                    </div>
                </div>
                <div class="nav-content">
                    <div class="inner-content">
                        <address class="v-middle">
                        </address>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Nav Bar -->

    <main class="main-root privacy-main">
        <div id="dsn-scrollbar">
            <div class="dsn-slider" data-dsn-header="project"></div>

            <div class="wrapper"> 
                <section class="privacy-section section-margin">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="privacy-content"> 
                                    <div>
                                        <h2 class="mb-60px">Privacy Policy for ACENT TECH</h2>


                                        <p class="mb-60px">Last updated: April 26, 2021</p>
                                        

                                        <p class="mb-30px">This Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your information 
                                            when You use the Service and tells You about Your privacy rights and how the law protects You.</p>
                                        
                                        <p>We use Your Personal data to provide and improve the Service. By using the Service, You agree to the collection and use of 
                                            information in accordance with this Privacy Policy. This Privacy Policy has been created with the help of the Privacy Policy Generator.</p>
                                    </div>
                                    
                                    <div>
                                        <h3>Interpretation and Definitions</h3>
                                    
                                        <p>Interpretation</p>
                                        <p class="mb-30px">The words of which the initial letter is capitalized have meanings defined under the following conditions. The following 
                                            definitions shall have the same meaning regardless of whether they appear in singular or in plural.</p>
                                        
                                        <p>Definitions</p>
                                        <p class="mb-30px">For the purposes of this Privacy Policy:</p>
                                        
                                        <p class="mb-30px">Account means a unique account created for You to access our Service or parts of our Service.</p>
                                        
                                        <p class="mb-30px">Affiliate means an entity that controls, is controlled by or is under common control with a party, where "control" means ownership of 50% or 
                                            more of the shares, equity interest or other securities entitled to vote for election of directors or other managing authority.</p>
                                        
                                        <p class="mb-30px">Web-site means the site provided by the Company user by You on any electronic device, named ACENT.TECH</p>
                                        
                                        <p class="mb-30px">Company (referred to as either "the Company", "We", "Us" or "Our" in this Agreement) refers to Decenternet INC, Suite 2303, 
                                            23/F, World Wide House, 19 Des Voeux Rd, Central, Hong Kong.</p>
                                        
                                        <p class="mb-30px">Country refers to: Hong Kong SAR China</p>
                                        
                                        <p class="mb-30px">Device means any device that can access the Service such as a computer, a cellphone or a digital tablet.</p>
                                        
                                        <p class="mb-30px">Personal Data is any information that relates to an identified or identifiable individual.</p>
                                        
                                        <p class="mb-30px">Service refers to the web-site and other application associated to it.</p>
                                        
                                        <p class="mb-30px">Service Provider means any natural or legal person who processes the data on behalf of the Company. It refers to third-party 
                                            companies or individuals employed by the Company to facilitate the Service, to provide the Service on behalf of the Company, 
                                            to perform services related to the Service or to assist the Company in analyzing how the Service is used.</p>
                                        
                                        <p class="mb-30px">Third-party Social Media Service refers to any website or any social network website through which a User can log in or 
                                            create an account to use the Service.</p>
                                        
                                        <p class="mb-30px">Usage Data refers to data collected automatically, either generated by the use of the Service or from the Service infrastructure 
                                            itself (for example, the duration of a page visit).</p>
                                        
                                        <p>You means the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual 
                                            is accessing or using the Service, as applicable.</p>
                                    </div>

                                    <div>
                                        <h3>Collecting and Using Your Personal Data</h3>
                                    
                                        <p>Types of Data Collected</p>
                                        <p>Personal Data</p>
                                        <p>While using Our Service, We may ask You to provide Us with certain personally identifiable information that can be used to 
                                            contact or identify You. Personally identifiable information may include, but is not limited to:</p>
                                        <ul class="mb-30px">
                                            <li>- Email address</li>
                                            <li>- Usage Data</li>
                                        </ul>
                                        
                                        <p>Usage Data is collected automatically when using the Service.</p>
                                        <p class="mb-30px">Usage Data may include information such as Your Device's Internet Protocol address (e.g. IP address), browser type, browser 
                                            version, the pages of our Service that You visit, the time and date of Your visit, the time spent on those pages, unique device 
                                            identifiers and other diagnostic data.</p>
                                        
                                        <p class="mb-30px">When You access the Service by or through a mobile device, We may collect certain information automatically, including, but
                                            not limited to, the type of mobile device You use, Your mobile device unique ID, the IP address of Your mobile device, 
                                           Your mobile operating system, the type of mobile Internet browser You use, unique device identifiers and other diagnostic data.</p>
                                        
                                        <p>We may also collect information that Your browser sends whenever You visit our Service or when You access the Service 
                                            by or through a mobile device.</p>
                                    </div>
                                    
                                    <div>
                                        <h3>Information Collected while Using our services</h3>
                                    
                                        <p>While using Our services, in order to provide features of Our services, We may collect, with Your prior permission:</p>
                                        <p>Pictures and other information from your Device's camera and photo library</p>
                                        <p class="mb-30px">We use this information to provide features of Our Service, to improve and customize Our Service. The information may be 
                                            uploaded to the Company's servers and/or a Service Provider's server or it may be simply stored on Your device.
                                        </p>
                                        
                                        <p>You can enable or disable access to this information at any time, through Your Device settings.</p>
                                    </div>
                                    
                                    <div>
                                        <h3>Use of Your Personal Data</h3>
                                    
                                        <p class="mb-30px">The Company may use Personal Data for the following purposes:</p>
                                        
                                        <ul class="mb-60px">
                                            <li>•  To provide and maintain our Service, including to monitor the usage of our Service.</li>
                                            <li>•  To manage Your Account: to manage Your registration as a user of the Service. The Personal Data 
                                                You provide can give You access to different functionalities of the Service that are available to You as a registered user.</li>
                                            <li>•  For the performance of a contract: the development, compliance and undertaking of the purchase contract for the 
                                                products, items or services You have purchased or of any other contract with Us through the Service.</li>
                                            <li>•  To contact You: To contact You by email, telephone calls, SMS, or other equivalent forms of electronic communication, such as a 
                                                mobile application's push notifications regarding updates or informative communications related to the functionalities, 
                                                products or contracted services, including the security updates, when necessary or reasonable for their implementation.</li>
                                            <li>•  To provide You with news, special offers and general information about other goods, services and events which we offer that 
                                                are similar to those that you have already purchased or enquired about unless You have opted not to receive such information.</li>
                                            <li>•  To manage Your requests: To attend and manage Your requests to Us.</li>
                                            <li>•  For business transfers: We may use Your information to evaluate or conduct a merger, divestiture, restructuring, reorganization, 
                                                dissolution, or other sale or transfer of some or all of Our assets, whether as a going concern or as part of bankruptcy,
                                                 liquidation, or similar proceeding, in which Personal Data held by Us about our Service users is among the assets transferred.</li>
                                            <li>•  For other purposes: We may use Your information for other purposes, such as data analysis, identifying usage trends, 
                                                determining the effectiveness of our promotional campaigns and to evaluate and improve our Service, products, services, 
                                                marketing and your experience.</li>
                                        </ul>
                                        

                                        <p>We may share Your personal information in the following situations:</p>
                                        <ul>
                                            <li>•  With Service Providers: We may share Your personal information with Service Providers to monitor and analyze the 
                                                use of our Service, to contact You. </li>
                                            <li>•  For business transfers: We may share or transfer Your personal information in connection with, or during negotiations of, 
                                                any merger, sale of Company assets, financing, or acquisition of all or a portion of Our business to another company. </li>
                                            <li>•  With Affiliates: We may share Your information with Our affiliates, in which case we will require those affiliates to honor this 
                                                Privacy Policy. Affiliates include Our parent company and any other subsidiaries, joint venture partners or other companies that 
                                                We control or that are under common control with Us. </li>
                                            <li>•  With business partners: We may share Your information with Our business partners to offer You certain products, 
                                                services or promotions. </li>
                                            <li>•  With other users: when You share personal information or otherwise interact in the public areas with other users, such 
                                                information may be viewed by all users and may be publicly distributed outside. If You interact with other users or register
                                                 through a Third-Party Social Media Service, Your contacts on the Third-Party Social Media Service may see Your name, 
                                                profile, pictures and description of Your activity. Similarly, other users will be able to view descriptions of Your activity, 
                                                communicate with You and view Your profile. </li>
                                            <li>•  With Your consent: We may disclose Your personal information for any other purpose with Your consent. </li>
                                        </ul>
                                    </div>
                                    
                                    <div>
                                        <h3>Retention of Your Personal Data</h3>
                                    
                                        <p>The Company will retain Your Personal Data only for as long as is necessary for the purposes set out in this Privacy Policy. 
                                            We will retain and use Your Personal Data to the extent necessary to comply with our legal obligations (for example, if we are 
                                            required to retain your data to comply with applicable laws), resolve disputes, and enforce our legal agreements and policies.
                                            The Company will also retain Usage Data for internal analysis purposes. Usage Data is generally retained for a shorter
                                             period of time, except when this data is used to strengthen the security or to improve the functionality of Our Service, or We 
                                            are legally obligated to retain this data for longer time periods.</p>
                                    </div>
                                    
                                    <div>
                                        <h3>Transfer of Your Personal Data</h3>

                                        <p class="mb-30px">Your information, including Personal Data, is processed at the Company's operating offices and in any other places where the 
                                            parties involved in the processing are located. It means that this information may be transferred to — and maintained on — 
                                            computers located outside of Your state, province, country or other governmental jurisdiction where the data protection 
                                            laws may differ than those from Your jurisdiction.</p>
                                        
                                        <p>Your consent to this Privacy Policy followed by Your submission of such information represents Your agreement to that transfer.
                                            The Company will take all steps reasonably necessary to ensure that Your data is treated securely and in accordance with
                                             this Privacy Policy and no transfer of Your Personal Data will take place to an organization or a country unless there 
                                            are adequate controls in place including the security of Your data and other personal information.
                                        </p>
                                    </div>
                                    
                                    <div>
                                        <h3>Disclosure of Your Personal Data</h3>

                                        <p>Business Transactions</p>
                                        <p class="mb-30px">If the Company is involved in a merger, acquisition or asset sale, Your Personal Data may be transferred. 
                                            We will provide notice before Your Personal Data is transferred and becomes subject to a different Privacy Policy.</p>

                                        <p>Law enforcement</p>
                                        <p class="mb-30px">Under certain circumstances, the Company may be required to disclose Your Personal Data if required to do 
                                            so by law or in response to valid requests by public authorities (e.g. a court or a government agency).</p>

                                        <p>Other legal requirements</p>
                                        <p>The Company may disclose Your Personal Data in the good faith belief that such action is necessary to:</p>
                                        <ul>
                                            <li>•  Comply with a legal obligation</li>
                                            <li>•  Protect and defend the rights or property of the Company</li>
                                            <li>•  Prevent or investigate possible wrongdoing in connection with the Service</li>
                                            <li>•  Protect the personal safety of Users of the Service or the public</li>
                                            <li>•  Protect against legal liability</li>
                                        </ul>
                                    </div>
                                    
                                    <div>
                                        <h3>Security of Your Personal Data</h3>

                                        <p>The security of Your Personal Data is important to Us, but remember that no method of transmission over the 
                                            Internet, or method of electronic storage is 100% secure. While We strive to use commercially acceptable means to protect 
                                            Your Personal Data, We cannot guarantee its absolute security.</p>
                                    </div>
                                    
                                    <div>
                                        <h3>Children's Privacy</h3>

                                        <p>Our Service does not address anyone under the age of 13. We do not knowingly collect personally identifiable information
                                            from anyone under the age of 13. If You are a parent or guardian and You are aware that Your child has provided 
                                           Us with Personal Data, please contact Us. If We become aware that We have collected Personal Data from anyone under 
                                           the age of 13 without verification of parental consent, We take steps to remove that information from Our servers.
                                           If We need to rely on consent as a legal basis for processing Your information and Your country 
                                           requires consent from a parent, We may require Your parent's consent before We collect and use that information.</p>
                                    </div>
                                    
                                    <div>
                                        <h3>Links to Other Websites</h3>

                                        <p>Our Service may contain links to other websites that are not operated by Us. If You click on a third party link, 
                                            You will be directed to that third party's site. We strongly advise You to review the Privacy Policy of every site You visit. We 
                                            have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>
                                    </div>
                                    
                                    <div>
                                        <h3>Changes to this Privacy Policy</h3>

                                        <p>We may update Our Privacy Policy from time to time. We will notify You of any changes by posting the new Privacy Policy 
                                            on this page. We will let You know via email and/or a prominent notice on Our Service, prior to the change becoming effective 
                                            and update the "Last updated" date at the top of this Privacy Policy.</p>
                                        <p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective 
                                            when they are posted on this page.</p>
                                    </div>
                                    
                                    <div>
                                        <h3>Contact Us</h3>

                                        <p class="mb-30px">If you have any questions about this Privacy Policy, You can contact us:</p>

                                        <p>By email: INFO@ACENT.TECH</p>
                                        <p>Privacy Policy for ACENT TECH</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </section> 
            </div>

            <footer class="footer">
                <div class="container">
                    <div class="footer-links p-relative">
                        <div class="row">
                            <div class="col-md-6 col-lg-3 dsn-col-footer">
                                <div class="footer-block">
                                    <div class="footer-logo">
                                        <img src="assets/img/logo.png" alt="">
                                    </div>

                                    <div class="footer-social">

                                        <ul>
                                            <li><a href="https://bit.ly/ACE_Telegram" target="_blank"><i class="fab fa-telegram"></i></a></li>
                                            <li><a href="https://bit.ly/ACE_Medium" target="_blank"><i class="fab fa-medium"></i></a></li>
                                            <li><a href="https://bit.ly/2UCSX3b" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="https://bit.ly/3pIwsI7" target="_blank"><i class="fab fa-instagram"></i></a></li>

                                        </ul>

                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6 col-lg-3 dsn-col-footer">
                                <div class="footer-block col-contact">
                                    <h4 class="footer-title" ng-bind-html="strings['contact'][locale] | to_trusted">CONTACT</h4>
                                    <p class="over-hidden"><strong>E</strong> <span>:</span><a class="link-hover"
                                            data-hover-text="info@acent.tech" >info@acent.tech</a>
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-12 mt-md-20 col-lg-6 dsn-col-footer">
                                <div class="col-address">
                                    <h4 class="footer-title" ng-bind-html="strings['address'][locale] | to_trusted">ADDRESS</h4>
                                    <p>
                                        SUITE 2303, 23/F., <br>
                                        WORLD-WIDE HOUSE, <br>
                                        19 DESVOUX ROAD CENTRAL, <br>
                                        HONG KONG
                                    </p> 
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="copyright">
                        <div class="text-center">
                          <p>© 2021 Decenternet. All Rights Reserved | <a href="privacy.html">Privacy Policy</a> | <a href="terms.html">Terms of Use</a></p>
                        </div>
                    </div>
                </div>
            </footer> 
        </div>
    </main>

    <!-- Wait Loader -->
    <div class="wait-loader">
        <div class="loader-inner">
            <div class="loader-circle">
                <div class="loader-layer"></div>
            </div>
        </div>
    </div>
    <!-- // Wait Loader -->


    <!-- cursor -->
    <!-- <div class="cursor">

        <div class="cursor-helper cursor-view">
            <span>VIEW</span>
        </div>

        <div class="cursor-helper cursor-close">
            <span>Close</span>
        </div>

        <div class="cursor-helper cursor-link"></div>
    </div> -->
    <!-- End cursor -->

    <!-- Optional JavaScript -->
    <script src="assets/js/jquery-3.1.1.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/dsn-grid.js?latest"></script>
    <script src="assets/js/custom.js?latest"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>

        var app = angular.module('acent',[])
            .filter('to_trusted', ['$sce', function($sce){
                return function(text) {
                    return $sce.trustAsHtml(text);
                };
            }]);
        app.controller('main',function($scope,$http,$interval){
            // if(localStorage.getItem('locale')){
                // $scope.locale = localStorage.getItem('locale');
            // } else { 
                $scope.locale = 'english';
            // }

            $scope.strings = {};

            $scope.fetch = function(){ 
                $http.get('translations.json').then(function (response) {
                    $scope.strings = response.data;   
                });
            };

            var url_string = window.location.href;
            var url = new URL(url_string);
            var c = url.searchParams.get("lang");
            if(c == null) {
                $scope.locale = 'english';
            }  else { 
                $scope.locale = c;
            }

            $scope.changeLanguage = function (lang) {
                localStorage.setItem('locale',lang);
                window.location.href = '?lang='+lang;
                
                //$scope.locale = lang; 
            }
        });
        $('.menu-icon .dd-menu').hide();
        $('.menu-icon').click(function(){ 
            $('.menu-icon .dd-menu').show();
        });
        $('.menu-icon').mouseleave(function(){  
            $('.menu-icon .dd-menu').hide();
        });
        $('body').on('scroll',function(){
            $('.menu-icon .dd-menu').hide();
        });
        $('body').on({
            'touchmove': function(e) { 
                $('.menu-icon').click();
                $('.menu-icon .dd-menu').hide();
            }
        })
    </script>
</body>

</html>
