<!DOCTYPE html>
<html lang="en-US">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="title" content="ACENT - web 3.0 technology" />
    <meta name="description" content="ACENT utilizes Osiris Browser's web 3.0 technology to provide users with a seamless experience without requiring prior blockchain knowledge." />

    <meta name="keyword"
        content="acent tech, blockchain technology, osiris browser, web 3.0 technology, fast browser" />
    <meta name="robots" content="index, follow" />

    <meta property="og:title" content="ACENT - web 3.0 technology" ng-bind-html="strings['og:title'][locale] | to_trusted">

    <meta property="og:type" content="website">

    <meta property="og:url" content="https://acent.tech/">

    <meta property="og:image" content="https://acent.tech/assets/img/main.jpg">
    <meta property="og:description" content="Blockchain Technology designed for mass adoption"  ng-bind-html="strings['og:description'][locale] | to_trusted">

    <meta name="naver-site-verification" content="f5a902fed9b031f36e4498c7527256d5400774e0" />




    <!--  Title --> 
    <title>ACENT - Terms of Use</title> 

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-polyfills/0.1.43/polyfill.min.js"></script>

    <!-- Font Google -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap" rel="stylesheet">

    <link rel="canonical shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />
    <link rel="canonical icon" href="assets/img/favicon.ico" type="image/x-icon" />

    <!-- custom styles (optional) -->
    <link href="assets/css/plugins.css" rel="canonical stylesheet" />
    <link href="assets/css/style.css?12345202012222" rel="canonical stylesheet" /> 
    <!-- <link href="assets/css/style.css?12282020" rel="canonical stylesheet" />  -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YMHQR0DST1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-YMHQR0DST1');
    </script>
</head>

<body data-dsn-mousemove="false" ng-app="acent" ng-controller="main" ng-cloak ng-init="fetch()" class="hamburger-menu dsn-effect-scroll dsn-ajax {{ strings['font'][locale] }}">

    <div id="acent-modal" class="acent-modal acent-modal--white mfp-hide">
        <div class="acent-modal__header">
    <h1>&lt;ACE 토큰 스왑 진행 안내&gt;

</h1>
</div>
    <div class="acent-modal__body">
        <figure class="acent-modal-logo">
            <img src="assets/img/acent-icon.png" width="130" height="130" alt="ACENT" />
        </figure>
        <p>보완이 강화된 ACE 신규 토큰 발행에 따른 스왑절차를 안내드립니다.<br />
<br />
ACE(ACENT)는 해외 TOP 컨트랙트 보안감사 기업인 <br />
SlowMist에서 스마트 컨트랙트 보안 감사를 완료하고<br />
ERC-20 기반 자체 토큰으로써 안정성을 검증받았습니다.<br />
<br />
이에 따라, 신규 토큰으로의 스왑을 안내드리오니<br />
아래 링크를 통해 내용 숙지하시어 진행에 차질이 <br />
없으시기 바랍니다.
</p>


<a href="http://bit.ly/36G55GQ" class="acent-modal-btn" target="_blank"><img src="assets/img/modal-btn.png" width="200" /></a>
<p>감사합니다.</p>
    </div>
  </div>

    <div class="preloader">
        <div class="preloader-after"></div>
        <div class="preloader-before"></div>
        <div class="preloader-block">
            <div class="title">ACENT</div>
            <div class="percent">0</div>
            <div class="loading">{{ strings['loading'][locale] }}...</div>
        </div>
        <div class="preloader-bar">
            <div class="preloader-progress"></div>
        </div>
    </div>

    <!-- Nav Bar -->
    <div class="dsn-nav-bar">
        <div class="site-header">
            <div class="extend-container">
                <div class="inner-header">
                    <div class="main-logo">
                        <a href="index.html" class="float-left">
                            <img class="dark-logo" src="assets/img/logo-dark.png" alt="acent tech media" />
                            <img class="light-logo" src="assets/img/logo.png" alt="acent tech media" />
                        </a>
                        <a href="https://bit.ly/ACE_Medium" class="float-left" target="_blank">
                            <img class="media" target="_blank" src="assets/img/media.png" alt="acent tech media" />
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="header-top header-top-hamburger">
            <div class="header-container">
                <div class="logo main-logo">
                    <a href="index.html" class="float-left">
                        <img class="dark-logo" src="assets/img/logo-dark.png" alt="acent tech logo" />
                        <img class="light-logo" src="assets/img/logo.png" alt="acent tech logo" />
                    </a>
                    <a href="https://bit.ly/ACE_Medium" class="float-left" target="_blank"> 
                        <img class="media" target="_blank" src="assets/img/media.png" alt="acent tech logo" />
                    </a>
                </div> 
                <div class="menu-icon" data-dsn="parallax" data-dsn-move="5">
                    <div class="icon-m">
                        <i class="menu-icon-close fas fa-times"></i>
                        <span class="menu-icon__line menu-icon__line-left"></span>
                        <span class="menu-icon__line"></span>
                        <span class="menu-icon__line menu-icon__line-right"></span>
                    </div>
                    <!-- <div class="text-menu">
                        <div class="text-button">Language</div>
                        <div class="text-open">English</div>
                        <div class="text-open">English</div>
                        <div class="text-close">Close</div>
                    </div> -->
                    <label class="dropdown custom-dropdown"> 
                        <div class="dd-button">
                          {{ strings['language'][locale] }}  
                        </div> 
                        <!-- <input type="checkbox" class="dd-input" id="test">  -->
                        <ul class="dd-menu">
                          <li ng-click="changeLanguage('english')" ng-if="locale != 'english'">English</li>
                          <li ng-click="changeLanguage('korean')" ng-if="locale != 'korean'">Korean</li>  
                          <li ng-click="changeLanguage('chinese')" ng-if="locale != 'chinese'">Chinese</li>
                          <li ng-click="changeLanguage('vietnamese')" ng-if="locale != 'vietnamese'">Vietnamese</li>  
                          <li ng-click="changeLanguage('japanese')" ng-if="locale != 'japanese'">Japanese</li>
                          <li ng-click="changeLanguage('thai')" ng-if="locale != 'thai'">Thai</li>
                        </ul> 
                      </label>
                </div> 
                <div class="nav">
                    <div class="inner">
                        <div class="nav__content">

                        </div>
                    </div>
                </div>
                <div class="nav-content">
                    <div class="inner-content">
                        <address class="v-middle">
                        </address>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Nav Bar -->

    <main class="main-root terms-main">
        <div id="dsn-scrollbar">
            <div class="dsn-slider" data-dsn-header="project"></div>

            <div class="wrapper"> 
                <section class="terms-section section-margin">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="terms-content"> 
                                    <div>
                                        <h2>Terms of Use</h2>

                                        <p>END-USER LICENSE AGREEMENT ("AGREEMENT")</p>
                                        <p class="mb-30px">FOR ACENT TECH</p>
                                        
                                        <p class="mb-30px">Please read this End-User License Agreement (“Agreement”) carefully before clicking continuing to use ACENT 
                                            and ACENT web site or anything associated with using it.</p>
                                        
                                        <p class="mb-30px">By using ACENT web site or ACENT, you are agreeing to be bound by the terms and conditions of this Agreement.</p>
                                        
                                        <p class="mb-30px">This Agreement is a legal agreement between you (either an individual or a single entity) and Decenternet Association Limited.
                                            and it governs your use of the web-site and servicesmade available to you by Decenternet Association Limited.</p>
                                        
                                        <p class="mb-30px">If you do not agree to the terms of this Agreement, do not continue to use ACENT web-site or any of its associated 
                                            products or services.</p>
                                        
                                        <p>The web-site and services is licensed, not sold, to you by Decenternet Association Limited for use strictly in accordance
                                            with the terms of this Agreement.</p>
                                    </div>
                                    
                                    <div>
                                        <h3>Authorized User of ACENT web-site</h3>
                                    
                                        <p class="mb-30px">By using the Site, you represent and warrant that:</p>
                                        
                                        <ul>
                                            <li>(1) all registration information you submit will be true, accurate, current, and complete;</li>
                                            <li>(2) you will maintain the accuracy of such information and promptly update such registration information as necessary;</li>
                                            <li>(3) you have the legal capacity and you agree to comply with these Terms and Conditions;</li>
                                            <li>(4) you are not under the age of 13;</li>
                                            <li>(5) not a minor in the jurisdiction in which you reside, or if a minor, you have received parental permission to use the Site;</li>
                                            <li>(6) you will not access the Site through automated or non-human means, whether through a bot, script, or otherwise;</li>
                                            <li>(7) you will not use the Site for any illegal or unauthorized purpose;</li>
                                            <li>(8) your use of the Site will not violate any applicable law or regulation.</li>
                                        </ul>
                                        <p>If you provide any information that is untrue, inaccurate, not current, or incomplete, we have the right to suspend or 
                                            terminate your account and refuse any and all current or future use of the web-site and services (or any portion thereof).</p>
                                    </div>
                                    
                                    <div>
                                        <h3>License</h3>
                                        <p>Decenternet Association Limited grants you a revocable, non-exclusive, non-transferable, limited license to use our web-site and 
                                            services solely for your personal, non-commercial purposes strictly in accordance with the terms of this Agreement. </p>
                                    </div>
                                    
                                    <div>
                                        <h3>Third-Party Services</h3>
                                    
                                        <p>The web-site and services may display, include or make available third-party content (including data, information, 
                                            applications and other products services) or provide links to third-party websites or services (“Third-Party Services”).
                                            You acknowledge and agree that Decenternet Association Limited shall not be responsible for any Third- Party Services, including 
                                            their accuracy, completeness, timeliness, validity, copyright compliance, legality, decency, quality or any other aspect thereof. 
                                            Decenternet Association Limited does not assume and shall not have any liability or responsibility to you or any other person 
                                            or entity for any Third-Party Services. Third-Party Services and links thereto are provided solely as a convenience 
                                            to you and you access and use them entirely at your own risk and subject to such third parties’ terms and conditions.</p>
                                    </div>
                                    
                                    <div>
                                        <h3>Term and Termination</h3>
                                    
                                        <p>This Agreement shall remain in effect until terminated by you or Decenternet Association Limited. Decenternet Association L
                                            imited may, in its sole discretion, at any time and for any or no reason, suspend or terminate this Agreement with or without prior 
                                            notice. This Agreement will terminate immediately, without prior notice from Decenternet Association Limited in the 
                                            event that you fail to comply with any provision of this Agreement. You may also terminate this Agreement by discontinuing to use 
                                            the ACENT web site and any of its content from your computer.</p>
                                        <p>Upon termination of this Agreement, you shall cease all use of the web-site and services and delete all copies of the web-site
                                            from your mobile device and/ or from your computer.</p>
                                        <p>Termination of this Agreement will not limit any of Decenternet Association Limited rights or remedies at law or in equity 
                                            in case of breach by you (during the term of this Agreement) of any of your obligations under the present Agreement.</p>
                                    </div>
                                    
                                    <div>
                                        <h3>Amendments to this Agreement</h3>
                                    
                                        <p>Decenternet Association Limited reserves the right, at its sole discretion, to modify or replace this Agreement at any time. 
                                            If a revision is material we will provide at least 30 days’ notice prior to any new terms taking effect. What constitutes a material 
                                            change will be determined at our sole discretion.</p>
                                        <p>By continuing to access or use our web-site and services after any revisions become effective, you agree to be bound by the 
                                            revised terms. If you do not agree to the new terms, you are no longer authorized to access our licensed web-site and services.</p>
                                    </div>
                                    
                                    <div>
                                        <h3>Governing Law</h3>
                                    
                                        <p>The laws of South Korea excluding its conflicts of law rules, shall govern this Agreement and your use of our web-site 
                                            and services. Your use of the web-site and services may also be subject to other local, state, national, or international laws.</p>
                                    </div>
                                    
                                    <div>
                                        <h3>Contact Information</h3>
                                    
                                        <p>If you have any questions about this Agreement, please contact us.</p>
                                    </div>
                                    
                                    <div>
                                        <h3>Entire Agreement</h3>
                                    
                                        <p>The Agreement constitutes the entire agreement between you and Decenternet Association Limited regarding 
                                            your use of our web-site and services and supersedes all prior and contemporaneous written or oral agreements between you 
                                            and Decenternet Association LimitedYou may be subject to additional terms and conditions that apply when you use or 
                                            purchase other Decenternet Association Limited services, which Decenternet Association Limited will provide to you at the 
                                            time of such use or purchase.</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </section> 
            </div>

            <footer class="footer">
                <div class="container">
                    <div class="footer-links p-relative">
                        <div class="row">
                            <div class="col-md-6 col-lg-3 dsn-col-footer">
                                <div class="footer-block">
                                    <div class="footer-logo">
                                        <img src="assets/img/logo.png" alt="">
                                    </div>

                                    <div class="footer-social">

                                        <ul>
                                            <li><a href="https://bit.ly/ACE_Telegram" target="_blank"><i class="fab fa-telegram"></i></a></li>
                                            <li><a href="https://bit.ly/ACE_Medium" target="_blank"><i class="fab fa-medium"></i></a></li>
                                            <li><a href="https://bit.ly/2UCSX3b" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="https://bit.ly/3pIwsI7" target="_blank"><i class="fab fa-instagram"></i></a></li>

                                        </ul>

                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6 col-lg-3 dsn-col-footer">
                                <div class="footer-block col-contact">
                                    <h4 class="footer-title" ng-bind-html="strings['contact'][locale] | to_trusted">CONTACT</h4>
                                    <p class="over-hidden"><strong>E</strong> <span>:</span><a class="link-hover"
                                            data-hover-text="info@acent.tech" >info@acent.tech</a>
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-12 mt-md-20 col-lg-6 dsn-col-footer">
                                <div class="col-address">
                                    <h4 class="footer-title" ng-bind-html="strings['address'][locale] | to_trusted">ADDRESS</h4>
                                    <p>
                                        SUITE 2303, 23/F., <br>
                                        WORLD-WIDE HOUSE, <br>
                                        19 DESVOUX ROAD CENTRAL, <br>
                                        HONG KONG
                                    </p> 
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="copyright">
                        <div class="text-center">
                            <p>© 2021 Decenternet. All Rights Reserved | <a href="privacy.html">Privacy Policy</a> | <a href="terms.html">Terms of Use</a></p>

                        </div>
                    </div>
                </div>
            </footer> 
        </div>
    </main>

    <!-- Wait Loader -->
    <div class="wait-loader">
        <div class="loader-inner">
            <div class="loader-circle">
                <div class="loader-layer"></div>
            </div>
        </div>
    </div>
    <!-- // Wait Loader -->


    <!-- cursor -->
    <!-- <div class="cursor">

        <div class="cursor-helper cursor-view">
            <span>VIEW</span>
        </div>

        <div class="cursor-helper cursor-close">
            <span>Close</span>
        </div>

        <div class="cursor-helper cursor-link"></div>
    </div> -->
    <!-- End cursor -->

    <!-- Optional JavaScript -->
    <script src="assets/js/jquery-3.1.1.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/dsn-grid.js?latest"></script>
    <script src="assets/js/custom.js?latest"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>

        var app = angular.module('acent',[])
            .filter('to_trusted', ['$sce', function($sce){
                return function(text) {
                    return $sce.trustAsHtml(text);
                };
            }]);
        app.controller('main',function($scope,$http,$interval){
            // if(localStorage.getItem('locale')){
                // $scope.locale = localStorage.getItem('locale');
            // } else { 
                $scope.locale = 'english';
            // }

            $scope.strings = {};

            $scope.fetch = function(){ 
                $http.get('translations.json').then(function (response) {
                    $scope.strings = response.data;   
                });
            };

            var url_string = window.location.href;
            var url = new URL(url_string);
            var c = url.searchParams.get("lang");
            if(c == null) {
                $scope.locale = 'english';
            }  else { 
                $scope.locale = c;
            }

            $scope.changeLanguage = function (lang) {
                localStorage.setItem('locale',lang);
                window.location.href = '?lang='+lang;
                
                //$scope.locale = lang; 
            }
        });
        $('.menu-icon .dd-menu').hide();
        $('.menu-icon').click(function(){ 
            $('.menu-icon .dd-menu').show();
        });
        $('.menu-icon').mouseleave(function(){  
            $('.menu-icon .dd-menu').hide();
        });
        $('body').on('scroll',function(){
            $('.menu-icon .dd-menu').hide();
        });
        $('body').on({
            'touchmove': function(e) { 
                $('.menu-icon').click();
                $('.menu-icon .dd-menu').hide();
            }
        })
    </script>
</body>

</html>
